{% extends "exercise_base.html" %}
{% load static %} <!-- Cargamos los archivos estaticos -->
{% load i18n %} <!-- Cargamos el módulo de Internacionalización -->
{% load extras %}
{% block content %}

<div id="deployment-modal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 id="modal-title" class="">How to perform the exercise?</h3>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
				<ol>
					<li>
						Pull the latest RADI image from Docker using the following command:
						<code>docker pull jderobot/robotics-academy</code>
					</li>
					<li>
						<p>Start the Docker container of the image and keep it running in the background:
							<code>docker run --rm -it -p 7681:7681 -p 2303:2303 -p 1905:1905 -p 8765:8765 -p 6080:6080 -p 1108:1108 jderobot/robotics-academy:2.4.3 ./start_manager.sh</code>
						</p>
						<p>For linux and nvidia users, hardware acceleration can be achieved by using nvidia proprietary drivers and launching the alternative instruction:
							<code>docker run --rm -it --device /dev/dri -p 7681:7681 -p 2303:2303 -p 1905:1905 -p 8765:8765 -p 6080:6080 -p 1108:1108 jderobot/robotics-academy:2.4.3 ./start_manager.sh</code>
						  </p>
					</li>
					<li>Click the Connect button and wait until it turns green. You may use the exercise then.</li>
				</ol>
            </div>
        </div>
    </div>
</div>

<div id="info-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
	  <div class="modal-content">
		  <div id="carouselControls" class="carousel slide" data-ride="carousel" data-interval="false">
		  <div class="carousel-inner">
			  <div class="carousel-item active">
				  <div class="modal-header">
					  <h5>How to connect</h5>
				  </div>
				  <div class="modal-body">
				  <ol>
					<li>
						Pull the latest RADI image from Docker using the following command:
						<code>docker pull jderobot/robotics-academy</code>
					</li>
					<li>
						<p>Start the Docker container of the image and keep it running in the background:
							<code>docker run --rm -it -p 7681:7681 -p 2303:2303 -p 1905:1905 -p 8765:8765 -p 6080:6080 -p 1108:1108 jderobot/robotics-academy:2.4.3 ./start_manager.sh</code>
						</p>
						<p>For linux and nvidia users, hardware acceleration can be achieved by using nvidia proprietary drivers and launching the alternative instruction:
							<code>docker run --rm -it --device /dev/dri -p 7681:7681 -p 2303:2303 -p 1905:1905 -p 8765:8765 -p 6080:6080 -p 1108:1108 jderobot/robotics-academy:2.4.3 ./start_manager.sh</code>
						  </p>
					</li>
					<li>Click the Connect button and wait until it turns green. You may use the exercise then.</li>
				  </ol>
				  </div>
			  </div>
			  <div class="carousel-item carousel-item-controls">
			  <div class="modal-header">
					  <h5>Controls (1/2)</h5>
				  </div>
				  <div class="modal-body" style="display: flex">
					  <div>
					  <ul>
						  <li>
							  <div class="d-flex flex-row">
							  <img src="/static/academy/assets/img/submit.png">
							  <p>- Execute your code</p>
							  </div>
						  </li>
						  <li>
							  <div class="d-flex flex-row">
							  <img src="/static/academy/assets/img/pause.png">
							  <p>- Pause the simulation</p>
							  </div>
						  </li>
						  <li>
							  <div class="d-flex flex-row">
							  <img src="/static/academy/assets/img/upload.png">
							  <p> - Save your code on the cloud</p>
							  </div>
						  </li>
						  <li>
							  <div class="d-flex flex-row">
							  <img src="/static/academy/assets/img/download.png">
							  <p>- Load code from your pc</p>
							  </div>
						  </li>
						  <li>
							  <div class="d-flex flex-row">
							  <img src="/static/unibotics-exercises/static/assets/common/img/reset.svg">
							  <p>- Reset the simulation</p>
							  </div>
						  </li>
						  <li>
							  <div class="d-flex flex-row">
							  <img src="/static/academy/assets/img/style.png">
							  <p>- Evaluate your code</p>
							  </div>
						  </li>
					  </ul>
					  </div>
					  <div>
						  <ul>
						  <li>
							  <div class="d-flex flex-row">
							  <img style="width: 30px; height: 30px" src="/static/unibotics-exercises/static/assets/common/img/gzweb_btn.png">
							  <p>- Open gzweb</p>
							  </div>
						  </li>
						  <li>
							  <div class="d-flex flex-row">
							  <img src="/static/unibotics-exercises/static/assets/common/img/terminal-solid.png">
							  <p style="padding-left: 12px;">- Open terminal</p>
							  </div>
						  </li>
						  <li>
							<div class="d-flex flex-row" style="padding-top: 28px;">
							<i class="fa fa-graduation-cap"></i>
							<p>- Open the documentation webpage</p>
							</div>
						</li>
						<li>
							<div class="d-flex flex-row">
							<i class="fa fa-code"></i>
							<p>- Open the exercise view</p>
							</div>
						</li>
						  </ul>
					  </div>
				  </div>
			  </div>
			  <div class="carousel-item carousel-item-controls">
					  <div class="modal-header">
						  <h5>Controls (2/2)</h5>
					  </div>
					  <div class="modal-body">
					  <ul>
						  <li>
							  <div class="d-flex flex-row" style="margin-top: 20px">
							  <p><strong>Brain Frecuency:</strong>&nbspadjusts the running frecuency of the code</p>
							  </div>
						  </li>
						  <li>
							  <div class="d-flex flex-row">
							  <p><strong>GUI Frecuency:</strong>&nbspadjusts the running frecuency of the GUI</p>
							  </div>
						  </li>
					  </ul>
					  </div>
			  </div>
		  </div>
		  <a class="carousel-control-prev" href="#carouselControls" role="button" data-slide="prev">
			  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
			  <span class="sr-only">Previous</span>
		  </a>
		  <a class="carousel-control-next" href="#carouselControls" role="button" data-slide="next">
			  <span class="carousel-control-next-icon" aria-hidden="true"></span>
			  <span class="sr-only">Next</span>
		  </a>
		  </div>
	  </div>
	</div>
  </div>

<div id="theory-view" style="display: none;">
	<iframe src="https://jderobot.github.io/RoboticsAcademy/exercises/AutonomousCars/follow_line/" id="iframe-tab"></iframe>
</div>

<div class="row col-md-12" id="exercise-controls">
	<div id="Control" class="container">
		<button id="save" type="button" onclick="saveCodeUnibotics('{{exercise}}')"><img  class="btn_img" src="{% static 'academy/assets/img/upload.png''%}"> Save</button>
		<button id="load" type="button"><img class="btn_img" src="{% static 'academy/assets/img/download.png'%}"> Load</button>
		<button id="evaluate" type="button" onclick="evaluate_code('{{exercise}}')"><img id="evaluate_img" class="btn_img" src="{% static 'academy/assets/img/style.png' %}"> Evaluate</button>
		<button id="submit" type="button" onclick="submitCode('{{user.username}}')"><img class="btn_img" src="{% static 'academy/assets/img/submit.png'%}"> Play </button>
		<button id="stop" type="button" onclick="stopCode()"><img class="btn_img" src="{% static 'academy/assets/img/pause.png''%}"> Stop</button>
		<input type="file" id="real-file" hidden="hidden"/>
		<button id="reset" type="button" onclick="resetSim()"><img class="btn_img" style="height:15px;" src="{% static 'unibotics-exercises/static/assets/common/img/reset.svg'%}"> Reset</button>		
		<div overflow-x:auto id="Medidor_Brain">
			<table id=table_code_freq>
			<tr>
			<td><a id="letters">Brain Freq:</a> <output id="ideal_code_frequency">0</output>/ <input type="number" id="code_freq" name="Brain Frequency" min="1" max="30" value="12" step="1" style="color:blue" oninput="codefrequencyUpdate(value)"<span title="The brain frequency is the value that tells the robot with what frequency should the code be updated"></span> <a id="Hz">Hz</a></td>
			</tr>  
			</table>
		</div>    
		<div overflow-x:auto id="Medidor_GUI">
			<table id=table_gui_freq>
			<tr>
			<td><a id="letters">GUI Freq:</a><output id="ideal_gui_frequency">0</output>/ <input type="number" id="gui_freq" name="quantity" min="1" max="30" value="12" step="1" style="color:green" oninput="guifrequencyUpdate(value)"<span title="This value corresponds to the frequency the UI and visuals will be updated."></span> Hz</td>
			</tr>  
			</table>
		</div> 
		<div id="Medidor_RTF">
            <a id="letters">Sim RTF:</a><output id="real_time_factor" style="color:red">0</output><span title="This value is the real time factor of the simulation, it let us know the rate of time in the simulation and real time. As you get closer to 1, the difference between real time and simulation time decreases."></span>
        </div>   
		<button id="gazebo_button" type="button" onclick="changegzweb()" <span title="Activate the gazebo screen"></span><img id="gzimg" style="height:20px;" src="{% static 'unibotics-exercises/static/assets/common/img//gazebo.svg' %}">Gazebo</button>
        <button id="console_button" type="button" onclick="changeconsole()"><img id="terminalimg" src="{% static 'unibotics-exercises/static/assets/common/img//console.png' %}"> Console</button>   
		<!--<a id="letters">Sim RTF</a><output id="real_time_factor" style="color:red">0</output><span title="This value is the real time factor of the simulation, it let us know the rate of time in the simulation and real time. As you get closer to 1, the difference between real time and simulation time decreases."></span>-->
	</div>
</div>


<div class="content" id="exercise-view">
  <div class="split a">
	  <div id="buttonContainer" style="text-align: center;">
		<button id="startButton" class="btn btn-primary" disabled>Start stream</button>
		<button id="toggleButton" class="btn btn-primary">Ver Chat</button>
	  </div>
	<br>
	<div class="col-md-12 justify-content-center">
		<div id="code-control">
			<!-- Code Editor -->
			<!-- Along with buttons -->
			<div id="code_container">

			<div id="editor">from GUI import GUI
from HAL import HAL
# Enter sequential code!

while True:
    # Enter iterative code!</div>

			<!-- Chat Room -->
			<div id="chat-content" style="display: none;">
				<div id="chat-div">
					<p id="chat-title">Messages</p>
					<div id="chat-log">
					</div>
					<input id="chat-message-input" type="text" size="100"><br>
					<button id="chat-message-submit" class="btn btn-primary">Send</button>
				</div>
			</div>

			</div>
			<div id="myModal" class="modal" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
		  <div class="modal-content">
			<div class="modal-header">
			  <h5 class="modal-title">Enter a filename</h5>
			  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			  </button>
			</div>
			<div class="modal-body">
			<div class="md-form ml-0 mr-0">
				<input  type="text" id="form29" class="form-control form-control-sm validate ml-0">
			  </div>
			</div>
			<div class="modal-footer">
			  <button type="button" class="btn btn-primary" onclick="downloadFile()">Download</button>
			  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			</div>
		  </div>
		</div>
		</div>
			</div>
	</div>

  </div>

  <div class="split b">
	  <!-- <div id="video-container">
		  <video id="localVideo" style="width: 2600;" playsinline autoplay>
			Your browser does not support the video tag.
		  </video>
	  </div> -->

	  <!-- Test iframe for noVNC streaming -->
	  <!-- <iframe id="test" src="http://dhrodao:6080/vnc.html?resize=remote&host=dhrodao&port=6080&autoconnect=true" width="100%" height="500" ></iframe> -->

  <div class="row" id="visual">
		<div class="col-md-8">
			<div class="card text-center">
				<div class="card-header">
					Visualization
				</div>
				<div class="card-body">
					<div class="row mx-auto">
						<canvas id="birds-eye"></canvas>
					</div>
					<!-- <div class="row mx-auto">
						<img id="gui_canvas"></img>
					</div> -->
				</div>
			</div>
		</div>

		<div class="col-md-4">
			<div class="row">
				<div class="card flex-fill">
					<div class="card-header text-center">
						Distances
					</div>
					<div class="card-body">
						<p style="text-align: center;">Host-Guest</p>
						<div class="distance-host" style="text-align: center; height: 20px; font-weight: bold;">
							
						</div>
						<hr>
						<p style="text-align: center;">Guest-Host</p>
						<div class="distance-guest" style="text-align: center; height: 20px; font-weight: bold;">
							
						</div>
					</div>
				</div>
			</div>
			<!-- <div class="row">
				<div class="card text-center flex-fill">
					<div class="card-header">
						Lap time <img class="btn_img" src="{% static 'unibotics-exercises/static/assets/common/img/stopwatch-solid.svg'%}">
					</div>
					<div class="card-body">
						<p style="text-align: center;">Host</p>
						<span style="padding: 0 0 0 0; font-size: 20px;" id="lap_time"></span>
						<hr>
						<p style="text-align: center;">Guest</p>
						<span style="padding: 0 0 0 0; font-size: 20px;" id="lap_time_guest"></span>
					</div>
				</div>
			</div> -->
			<!-- <div class="row">
				<div class="card text-center flex-fill">
					<div class="card-header">
						Speed
					</div>
					<div class="card-body">
						<div class="row mx-auto">
							<canvas id="canvas-w" width="200" height="200"></canvas>
						</div>
						<div class="row mx-auto">
							<canvas id="canvas-v" width="200" height="200"></canvas>
						</div>
					</div>
				</div>
			</div> -->
  		</div>


		<script>
			var csrf = '{{ csrf_token }}';
			// var canvasv = document.getElementById("canvas-v");
			// var ctxv = canvasv.getContext("2d");
			// var canvasw = document.getElementById("canvas-w");
			// var ctxw = canvasw.getContext("2d");

			// ctxv.scale(0.7,0.7);
			// ctxw.scale(0.65,0.65);
			// var arrow;
			// var speedometer;
			// var alfa; //angle

			// var arrow2;
			// var speedometer2;
			// var beta;//angle

			// loadOdometry();
			// function Cleancanvasvw() {
			// 	ctxv.clearRect(0, 0, 200, 200);
			// 	ctxw.clearRect(0, 0, 200, 200);
			// }

			// function loadOdometry(){
			// 	arrow = new Image();
			// 	arrow.src = "{% static 'unibotics-exercises/static/assets/exercises/webRTC-prototype/img/arrow.png' %}";
			// 	// Load the speedometer image
			// 	speedometer = new Image();
			// 	speedometer.src = "{% static 'unibotics-exercises/static/assets/exercises/webRTC-prototype/img/speedometer.png' %}";

			// 	arrow2 = new Image();
			// 	arrow2.src = "{% static 'unibotics-exercises/static/assets/exercises/webRTC-prototype/img/arrow.png' %}";
			// 	// Load the speedometer image
			// 	speedometer2 = new Image();
			// 	speedometer2.src = "{% static 'unibotics-exercises/static/assets/exercises/webRTC-prototype/img/speedometer2.png' %}";
			// }

			// function drawOdometry(v,w){
			// 	//Draw V
			// 	Cleancanvasvw();
			// 		ctxv.drawImage(speedometer, 0, 0);
			// 	ctxv.save();
			// 		ctxv.translate(100, 100);
			// 	alfa = -120 + (v*50);  //v scaled x50
			// 	ctxv.rotate(alfa * (Math.PI / 180));
			// 	ctxv.drawImage(arrow, -100, -100);
			// 	ctxv.restore();
			// 	//Draw W
			// 	ctxw.drawImage(speedometer2, 0, 0);
			// 	ctxw.save();
			// 	ctxw.translate(100, 100);
			// 	beta = (w*(-200)); //scaled W x(-200)
			// 	ctxw.rotate(beta * (Math.PI / 180));
			// 	ctxw.drawImage(arrow2, -100, -100);
			// 	ctxw.restore();
			// }
		</script>
  </div>
  <br>

  <div class="row">
	  <div class="col-md-12">
		<div class="card text-center flex-fill">
			<div class="card-header">
				Gazebo
			</div>
			<div class="card-body">
				<iframe id="iframe" style="display:none;" src="" width="100%" height="500" ></iframe>
				<!-- Test iframe -->
				<!-- <iframe id="iframe" src="http://dhrodao:6080/vnc.html?host=dhrodao&port=6080" width="100%" height="500" ></iframe> -->
			</div>
		</div>
	</div>
</div>

  <hr>
	<div class="row">
		<div class="col-md-12">
			<iframe id="console-vnc" style="display:none;" src="" width="100%" height="100%"></iframe>
		</div>
	</div>


    <script type="text/javascript">
    function changeconsole(){
      var console_display = document.getElementById('console-vnc').style.display
      console.log(console_display)
      if (console_display == "none" || console_display == "none" ) {
		  setIframeConsole();
        document.getElementById('console-vnc').style.display = 'block';
      } else{
        document.getElementById('console-vnc').style.display = 'none';
      }
    }

	function changegzweb(){
        var display = document.getElementById('iframe').style.display
        console.log(display)
        if (display == "none" || display == "none" ) {
          document.getElementById('iframe').style.display = 'block';
          setIframe();
        } else{
          document.getElementById('iframe').style.display = 'none';
        }
      }
    </script></div>

	<script src="https://unpkg.com/split.js/dist/split.min.js"></script>

	<script>
      Split(['.a', '.b'], {
        gutterSize: 3,
        sizes: [50,50]
      });
    </script>

       <!-- Common -->
       <script src="{% static 'unibotics-exercises/static/assets/common/js/utils.js' %}?v={{version}}" type="text/javascript" charset="utf-8"></script>
       <script src="{% static 'unibotics-exercises/static/assets/common/js/setIframe.js' %}?v={{version}}" type="text/javascript" charset="utf-8"></script>
       <script src="{% static 'unibotics-exercises/static/assets/common/js/ace-builds/src-noconflict/ace.js' %}?v={{version}}" type="text/javascript" charset="utf-8"></script>
       <script src="{% static 'unibotics-exercises/static/assets/common/js/ws_data.js' %}?v={{version}}" type="text/javascript" charset="utf-8"></script> 
	   <script src="{% static 'unibotics-exercises/static/assets/common/js/ws_code.js' %}?v={{version}}" type="text/javascript" charset="utf-8"></script>
	   <script src="{% static 'unibotics-exercises/static/assets/common/js/ws_code_guest.js' %}" type="text/javascript" charset="utf-8"></script>
	 	<!-- WS_CODE -->
		<script>
			function getCode(user){
				var req = new XMLHttpRequest();
				let path = 'http://'+window.location.host+'/academy/exercise/request/{{ exercise }}?user='+user;

				req.open("GET", path, false );
				req.send( null );

				return req.responseText;
			}


			// Function that sends/submits the code!
			function submitCode(){
				// Get the code from editor and add headers
				var message = "#resu"
				websocket_code.send(message)
				//var python_code = editor.getValue();
				let python_code = "#code\n";
				let python_code_guest = '#code\n';

				// Get the user code
				python_code = python_code + getCode('{{user}}');
				// Get remote user code
				python_code_guest = python_code_guest + getCode('dhrodao2');
								
				console.log('HOST: ', python_code);
				console.log('GUEST: ',python_code_guest);
				console.log("Code Sent!");

				websocket_code.send(python_code);
				websocket_code_guest.send(python_code_guest);

				try {
					unpause_lap()
				}
				catch {

				}
				stop_button.disabled = false;
				stop_button.style.opacity = "1.0";
				stop_button.style.cursor = "default";
				running = true;
			}
		</script>

		<!-- SAVE CODE --> 
		<script>
			var csrf = '{{ csrf_token }}';
			function intervalSave() {
				saveCodeUnibotics('{{exercise}}', true);
			}
			var saving = setInterval(intervalSave, 300000);
		</script>





       <!-- Exercise specific resources -->
	   <script>
		   var checkpoints= [[1,12,50], [2,12,36], [3,12,34], [4,12,23], [5,14,16], [6,19,13],[7,31,12], [8,41,14], [9,43,15], [10,47,35],
                  [11,47,39],[12,51,45], [13,63,48], [14,91,48], [15,112,48], [16,150,48],[17,166,42], [18,167,32], [19,171,27], [20,199,18],
                  [21,220,19], [22,234,21], [23,253,27], [24,261,30], [25,268,34], [26,276,39],[27,279,42], [28,286,51], [29,288,55], [30,289,59],
                  [31,289,61],[32,284,77], [33,281,81], [34,280,82], [35,277,84], [36,259,95],[37,225,104], [38,219,105], [39,191,109], [40,181,111],
                  [41,167,113], [42,160,114], [43,145,116], [44,134,130], [45,134,134], [46,123,141],[47,111,141], [48,99,134], [49,80,116], [50,65,124],
                  [51,64,134],  [52,60,134], [53,36,137], [54,22,136], [55,12,129], [56,12,110],[57,12,100], [58,12,94],[59,12,84],[60,12,63]
			];
	   </script>
	   <script>
		   let close_host, close_guest;
		   let arr_pos_host, arr_pos_guest;
		   let d_host_guest, d_guest_host;
			// Gets the distande between two points
			function getDistance(p1, p2){
				return Math.sqrt(Math.pow(p2[0]-p1[0],2)+Math.pow(p2[1]-p1[1],2));
			}

			// Get the closes checkpoint for a point given
			function getClosestCheckpoint(p, checkpoints){
				let dist, lowestdist=999, closest;
				checkpoints.forEach(e => {
					// Get distance from the car pos to the checkpoint
					let aux = [e[1], e[2]];
					dist = getDistance(p, aux);

					if(dist < lowestdist){
						lowestdist = dist;
						closest = e;
					}
				});
				return closest;
			}

			// Sets the new path to calculate distances
			// Returns the new path and the positions of the new points in the array
			function getNewPath(p_host, p_guest, closest_host, closest_guest, checkpoints){
				let pos_host = closest_host[0]-1;
				let pos_guest = closest_guest[0]-1;
				
				checkpoints[pos_host] = [pos_host+1,p_host[0],p_host[1]];
				checkpoints[pos_guest] = [pos_guest+1,p_guest[0],p_guest[1]];
				
				return {checkpoints, pos_host, pos_guest};
			}

			function getPathDist(arr){
				let total_dist = 0;
				let prev_point;
				arr.forEach(e => {
					let dist;
					if(!prev_point){
						prev_point = e;
					}else{
						dist = getDistance([e[1], e[2]], [prev_point[1],prev_point[2]]);
						total_dist += dist;
					}
				});
				return Math.round(total_dist);
			}

			function arrPush(arr, data){
				data.forEach(e => {
					arr.push(e);
				});
				return arr;
			}
			
			// Get distances between each one
			function getDistanceBetween(pos_host, pos_guest, checkpoints){
				let arr_guest_host = [];
				let arr_host_guest = [];
				let dist_guest_host, dist_host_guest;

				console.log(pos_host,pos_guest);
				if(pos_guest > pos_host){
					arr_guest_host = arrPush(arr_guest_host, checkpoints.slice(pos_guest, checkpoints.length-1));
					if((arr_guest_host.length === 0)){
						arr_guest_host.push(checkpoints[pos_guest]);
					}
					arr_guest_host = arrPush(arr_guest_host, checkpoints.slice(0, pos_host));
					if((arr_guest_host.length === 1)){
						arr_guest_host.push(checkpoints[pos_host]);
					}
					arr_host_guest = arrPush(arr_host_guest, checkpoints.slice(pos_host,pos_guest+1));
					if((arr_host_guest.length === 0) || (arr_host_guest.length === 1)){
						arr_host_guest = [];
						arr_host_guest.push(checkpoints[pos_host]);
						arr_host_guest.push(checkpoints[pos_guest]);
					}
				}
				if(pos_host > pos_guest){
					arr_host_guest = arrPush(arr_host_guest, checkpoints.slice(pos_host, checkpoints.length-1));
					if((arr_host_guest.length === 0)){
						arr_host_guest.push(checkpoints[pos_host]);
					}
					arr_host_guest = arrPush(arr_host_guest, checkpoints.slice(0, pos_guest));
					if((arr_host_guest.length === 1)){
						arr_host_guest.push(checkpoints[pos_guest]);
					}
					arr_guest_host = arrPush(arr_guest_host, checkpoints.slice(pos_guest, pos_host+1));
					if((arr_guest_host.length === 0) || (arr_guest_host.length === 1)){
						arr_guest_host = [];
						arr_guest_host.push(checkpoints[pos_guest]);
						arr_guest_host.push(checkpoints[pos_host]);
					}
				}
				
				// console.log('DIST HOST->GUEST: ',arr_host_guest);
				// console.log('DIST GUEST->HOST: ',arr_guest_host);
				dist_guest_host = getPathDist(arr_guest_host);
				dist_host_guest = getPathDist(arr_host_guest);
				// console.log('DIST HOST->GUEST: ',dist_host_guest);
				// console.log('DIST GUEST->HOST: ',dist_guest_host);

				return {dist_host_guest, dist_guest_host};
			}
	   </script>
       <script src="{% static 'unibotics-exercises/static/assets/exercises/webRTC-prototype/js/ws_gui.js' %}?v={{version}}" type="text/javascript" charset="utf-8"></script>
       <script src="{% static 'unibotics-exercises/static/assets/exercises/webRTC-prototype/js/birds_eye.js' %}?v={{version}}" type="text/javascript" charset="utf-8"></script>
       <script src="{% static 'unibotics-exercises/static/assets/exercises/webRTC-prototype/js/launcher.js' %}?v={{version}}" type="text/javascript" charset="utf-8"></script>
       <!-- <script src="{% static 'unibotics-exercises/static/assets/exercises/webRTC-prototype/js/evaluator.js' %}?v={{version}}" type="text/javascript" charset="utf-8"></script> -->

    <script type="text/javascript">
        window.addEventListener("beforeunload", function (e) {
            e.preventDefault();
            var date = new Date().getTime();
            localStorage.setItem('lastTime', date);
			// Establecer el ejercicio
            //localStorage.setItem('exercise', 'follow_line');
			localStorage.setItem('exercise', 'webRTC-prototype');
            freeDocker();
        });
    </script>


    <!-- BOTON DE CONEXION CON RADI-->
    <script>
        $(document).ready(function() {$("#connection-button").click(
            function () {
                $("#connection-button").removeClass('btn btn-danger').addClass('btn btn-warning');
				$("#connection-button").html('<span id="loading-connection" class="fa fa-refresh fa-spin"></span> Connecting');

				startSim("{{websocket_address}}","{{server}}", "{{user.username}}");
			});
        });
    </script>

    <script type="text/javascript">
    	const realFileBtn = document.getElementById("real-file");
    	const customBtn = document.getElementById("load");
    	const editorele = ace.edit("editor");
    	customBtn.addEventListener("click", function(){
    		realFileBtn.click();
    	});
    	realFileBtn.addEventListener("change", function() {
    		if (realFileBtn.value) {
    			console.log("FILE CHOSEN:");
    			console.log(realFileBtn.value);
    			var fr = new FileReader();
    			fr.onload = function(){
    				editorele.setValue(fr.result, 1);
    			}
    			fr.readAsText(this.files[0]);

    		}
    	});
    </script>

    {% if user_code|length > 0 %}

    <script type="text/javascript">
		code = "{{user_code}}".replace(/&quot;/g,'"').replace(/&#39;/g,"'").replace(/&gt;/, ">").replace(/&lt;/, "<")
		console.log(code);
        editorele.setValue(code)
    </script>

    {% endif %}

	<!-- Script boton toggle chat -->
	<script>
		$('#toggleButton').on('click', function(){
			let editor = $('#editor');
			let chat = $('#chat-content');
			let button = $('#toggleButton');
			let chat_input = $('#chat-message-input');

			console.log(chat);

			if(button.text() === 'Ver Chat'){
				editor.hide();
				chat.show();
				chat_input.focus();
				button.html('Ver Código');
			}else{
				chat.hide();
				editor.show();
				button.html('Ver Chat');
			}
		});
	</script>

	<!-- WebRTC chat -->
	<script>
        //Get & show the stream.
        const localVideo = document.getElementById('streamVideo');
        const remoteVideo = document.getElementById('showVideo');

        let room_name = Date.now()+Math.round(Math.random()*10000);
        console.log('Room name: ', room_name);

		// Poner la url para el invitado
		$('.split.a').prepend('<p><strong>URL invitado: </strong> <a href="' + window.location.href + room_name + '">' + window.location.href + room_name + '</href></p>');

        // Enviar mensaje iframe
        let iframe = document.querySelector('#iframe');
        let startVNC = document.querySelector('#startButton');
        startVNC.addEventListener('click', function(){
            console.log('[PADRE] start stream');
            checkUsers();
        });
    </script>
    <script src="{% static 'js/stream/ws_chat.js' %}"></script>
    <script src="{% static 'js/stream/ws_stream.js' %}"></script>
    <script src="{% static 'js/stream/rtc_stream.js' %}"></script>

</div>

{% endblock %}
