<!doctype html>
{% load static %}
<html>
<head>
<meta charset='UTF-8'><meta name='viewport' content='width=device-width initial-scale=1'>
<title>practica1_tdi_theory</title></head>
<div style="font-size:0.85em;">
<pre>Dpto. Teoría de la Señal y Comunicaciones y Sistemas Telemáticos y Computación.
Tratamiento Digital de la Imagen</pre>
</div>
<body>
<h1 align="middle">TDI - Práctica 1</h1>
<h2 align="middle">Introducción al Procesamiento de Imágenes en el dominio espacial</h2>
<h4 align="middle">Curso 2018 - 2019</h4>
<p>&nbsp;</p>

<p>En esta práctica se pretende familiarizar al alumno con las herramientas básicas de procesamiento de imagen en el dominio espacial utilizando Python. En el apartado de código (acessible a través del botón <strong>Ver Código</strong> que se muestra en la parte superior de la ventana) de esta práctica se presentan los comandos del lenguaje de programación <a href="https://www.python.org/">Python</a> que permiten leer imágenes y realizar conversiones (de tipos de imágenes), visualizar imágenes en pantalla, remuestrear imágenes y reducir el número de niveles de intensidad. En la última parte de la práctica se realizarán transformaciones puntuales y globales.</p>

<p>También se incluyen bloques explicativos que le permitirán conocer el funcionamiento de los comandos utilizados en forma de guión. Esta herramienta también le permitirá pausar o reiniciar el motor computacional, lo que conlleva una limpieza de las variables declaras con anterioridad, además de poder acceder a otra funcionalidad como el borrado de la salida de las celdillas de código a través de los botones presentes en la interfaz. </p>

<p>&nbsp;</p>
<h2>1 - Introducción y Conceptos</h2>
<p>Puesto que una imagen es una función bidimensional, ésta se puede representar como una matriz de valores donde cada elemento corresponde a un píxel. Si la imagen es digital, el conjunto de valores es discreto y hace referencia a los niveles de intensidad de la imagen. En esta práctica se utilizarán las librerías <a href="https://opencv.org/">OpenCV</a>, que almacenan las imágenes en formato matricial, además de incluir en la representación otra información relevante para su tratamiento, como pueden ser el número de canales y la codificación entre otros. </p>

<p>Se hará uso de la funcionalidad implementada en estas librerías para llevar a cabo el tratamiento de la imagen digital objeto de esta primera práctica de la asignatura. En el siguiente apartado se muestra el guión a seguir.</p>

<p>&nbsp;</p>
<h2>2 - Guión de la Práctica</h2>
<p>Esta práctica se compone de los hitos:</p>

<ul>
<li>I. Lectura, visualización y almacenamiento de imágenes</li>
<li>II. Modificación de la resolución espacial y en intensidad</li>
<li>III. Histograma y mejora de contraste</li>
<li>IV. Interpretación del color y transformaciones puntuales</li>
</ul>

<p>Cambie a la vista de código a través del botón superior, y siga el flujo normal a la hora de realizarlos. </p>
</body>
</html>



